:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@font-face {
  font-family: DragonHunter;
  src: url('/src/assets/font/DragonHunter.otf');
  font-weight: bold;
}
@font-face {
  font-family: carolinga;
  src: url('/src/assets/font/carolingia.ttf');
}
@font-face {
  font-family: dungrg;
  src: url('/src/assets/font/DUNGRG__.TTF');
}
@font-face {
  font-family: oldlondon;
  src: url('/src/assets/font/Olondona.otf');
}
@font-face {
  font-family: calid;
  src: url('/src/assets/font/CALID___.TTF');
}
@font-face {
  font-family: marcellus;
  src: url('/src/assets/font/MarcellusSC-Regular.ttf');
}
@font-face {
  font-family: requiem;
  src: url('/src/assets/font/Requiem.ttf');
}
@font-face {
  font-family: underworld;
  src: url('/src/assets/font/underworld.ttf');
}
@font-face {
  font-family: lumos;
  src: url('/src/assets/font/LUMOS.TTF');
}
@font-face {
  font-family: newspapertypes;
  src: url('/src/assets/font/OldNewspaperTypes.ttf');
}


a{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F2F2EA;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.font--large{
  font-size: 1.3em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,h2,h3,h4,h5{
  font-family: DaronHunter;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.item--text{
  font-family: newspapertypes;
  font-size: 1em;
}
.font--decorative--reg{
  font-family: requiem;
  font-weight: 600;
}
.font--decorative--head{
  font-family: requiem;
  font-weight: 600;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hover--grow--text :hover{
  font-size: 2.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #3a3a3baa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #3a3a3baa);
}
.light--box--shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.strong--box--shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

